$include /etc/inputrc

# requires bash >= 4.4
set enable-bracketed-paste on

set editing-mode emacs

#Page up/page down
"\e[B": history-search-forward
"\e[A": history-search-backward

"\C-p":history-search-backward
"\C-n":history-search-forward

set colored-stats On
set completion-ignore-case On
set completion-prefix-display-length 3
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On
